root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.json]
insert_final_newline = false

# Markdown settings
[*.{md,py}]
trim_trailing_whitespace = false
